html {
  scroll-behavior: smooth;
}
body {

  font-size: 2.5rem;
}

header {
  z-index: 9;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  align-items: center;

  .headerTitle {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: clamp(1rem, 5.4vh, 4rem);
    padding-top: 1.5rem;
  }


  .menuTrigger {
    cursor: pointer;
  }


  .burgerMenu {

    .burgerMenu__button {
      left: 10px;
      top: 15px;

      .burgerMenu__button--span {
        margin-bottom: 6px;
        transition: all 0.5s cubic-bezier(0.5, 0.82, 0.165, 1);
    }
    

  }

    .navPage ul {
        font-size: 4rem;
    }
  }

  .menuTrigger:not(:checked):hover + .burgerMenu .burgerMenu__button--span:nth-child(1) {
    margin-left: -10px;
  }
  
  .menuTrigger:not(:checked):hover + .burgerMenu .burgerMenu__button--span:nth-child(2) {
    margin-left: 5px;
    transform: rotate(-3deg);
  }
  
  .menuTrigger:not(:checked):hover + .burgerMenu .burgerMenu__button--span:nth-child(3) {
    margin-left: -5px;
  }

 input:checked+.burgerMenu nav {
    margin-left: 4.5vw;
  }
}

.pageContent {
  margin-left: 4.5vw;
  .page1,
  .page2,
  .page3 {
    min-height: 100vh;
  }

  .page1,
  .page2 {
    border-top: unset;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16px;
  }

  .page1 {
    border-right: 16px solid #FFF135;
    border-left: 16px solid #FFF135;



    .page1__title {
      grid-column: 1 / span 4;

      .title__tahini {
        position: absolute;
        top: 7rem;
        right: 0;
        border: 16px;
        margin: 2.5rem;
      }

    }


    .page1__text1 {
      grid-column: 5 / span 7;
      font-size: 3rem;
      p {
        margin-left: 3rem;
      }
    }

    .page1__bottom--salladImg {
      grid-column: 1 / span 5;

      &:hover {

        .page1__arrow {
          bottom: 10px;
        }
      }
      .page1__salladImg {
        object-fit: cover;
      }
      .page1__arrow {
        bottom: 2rem;
        transition: bottom 0.3s ease-in-out;
      }
    }

    .page1__text2 {
      border-left: 16px solid #FFF135;
      border-top: unset;
      grid-column: 6 / span 6;
      font-size: 3rem;

      .pageText__explore {
        padding-top: 9rem;
        text-align: left;
                .explore__arrow {
          padding-left: 10px;
          transform: unset;
        }
      }
    }
  }

  .page2 {
    .food_images {
      display: grid;
      grid-column: 1 / span 11;
      gap: 16px;
      
    .foodMenu_image1 {
      display: block;
      grid-column: 1 / span 3;
      width: 100%;
      object-fit: cover;
      height: 400px;
    }

    .foodMenu_image2 {
      display: block;
      grid-column: 4 / span 4;
      width: 100%;
      height: 400px;
      object-fit: cover;


    }

    .foodMenu_image3 {
      display: block;
      grid-column: 8 / span 4;
      width: 100%;
      object-fit: cover;
      height: 400px;
    }

    }

    .foodMenu_bg1,
    .foodMenu_bg2,
    .foodMenu_bg3 {
      display: none;
    }

    .foodMenu_wrapper {
      grid-column: 1 / span 11;
      .foodMenu_section {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        margin: 16px 0;
        padding: 0;
        text-align:left;

        li {
          margin: 16px 0;
        }

        .foodMenu_section--item {
          grid-column: 1 / span 4;
          margin-left: 1rem;

          
        }

        .foodMenu_section--itemDescription {
          grid-column: 5 / span 6;
          font-size: 1.75rem;
          padding-top: 10px;
        }

        .foodMenu_section--itemPrice {
          grid-column: 11 / span 1;
          text-align: right;
          padding-right: 16px;
        }


        .new {
          left: 20rem;
          bottom:0.7rem;
          position: absolute;
        }

        .vegan {
          left: 23rem;
          bottom: 0.5rem;
          position: absolute;
        }

        .popular {
          left: 12rem;
          top: 1.3rem;
          position: absolute;
        }
      }
    }
  }

  .page3 {
    display: grid;
    border-left: 16px solid white;
    border-top: unset;
    align-items: center;

    .page3__booking {
      grid-column: 1 / span 3;
      padding-left: 16px;
      .page3__header {
        font-size: 5rem;
        text-align: left;
      }
      .booking__form {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap:32px;
    label {
      font-size: 2.5rem;
      width: 100%;
      grid-column: 1 / span 2;
    }
      input[type=text],
      input[type=date],
      select {
        font-size: 1.5rem;
        grid-column: 3 / span 5;
        width: 83%;
        height: 95%;
      }


      input[type=submit],
      input[type=reset] {
        width: 85%;
        margin: 8px 1px;
        border: none;
        cursor: pointer;
        padding: unset;
      }

      input[type=submit] {
        grid-column: 4 / span 3;
      }

      input[type=reset] {
        grid-column: 1 / span 3;
        grid-row: 7 / span 1;
      }
    }
  }


    .page3__contactInfo {
      grid-column: 4 / span 6;
      .contactInfo__bg {
        width: 50vw;
        height: 70vh;
      }

      .contactInfo__bg--text {
        top: 5%;
        left: 5%;
        li a{
            font-size: 2.5rem;
        }

        .material-symbols-outlined {
          font-size: 5rem;
        }
      }
    }
  }



}

.cookieBanner {
  display: flex;
  z-index: 19;
  p {
    position: absolute;
    top: 1.5rem;
    left: 10rem;

  }

  input {
    position: absolute;
    margin: 8px 1px;
    cursor: pointer;
    width: 240px;
  }

  input[type=submit] {
    bottom: 1rem;
    right: 3rem;
  }

  input[type=reset] {
    bottom: 1rem;
    right: 19rem;
  }
}