html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 2.5rem;
}

// img{
//   width: 100%;
//   height: auto;
//   display: block;
// }
header {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  position: fixed;
  height: 100vh;
  align-items: center;

  .headerTitle {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    // font-size: 3rem;
    font-size: clamp(2rem, 5vh, 3rem);
    // margin-left: 10px;
  }


  .menuTrigger {
    // position: relative;
    z-index: 15;
    width: 70px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
  }


  .burgerMenu {

    .burgerMenu__button {
      width: 35px;
      height: 35px;
      background: transparent;
      border: 0;
      position: absolute;
      left: 10px;
      top: 15px;
      z-index: 9;


      .burgerMenu__button--span {
        display: block;
        width: 50px;
        height: 7px;
        background-color: #FFF135;
        border-radius: 6px;
        margin-bottom: 6px;
        transition: all 0.5s cubic-bezier(0.5, 0.82, 0.165, 1);
    }
    

  }

    .navPage {
      position: fixed;
      left: 0;
      top: 0;
      background-color: rgba(170, 8, 148, 1);
      height: 100vh;
      width: 100vw;
      visibility: hidden;
      opacity: 0;
      transition: all 0.337s cubic-bezier(0.075, 0.82, 0.165, 1);
      z-index: 9;


      ul {
        // margin-bottom: 3rem;
        // display: flex;
        // flex-direction: column;
        position: absolute;
        top: 20%;
        left: 35%;
        height: 100%;
        justify-content: space-evenly;
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
        li {
          padding-bottom: 5rem;
          a {
          color: white;
        }
        }
      }


    }
  }

  .menuTrigger:not(:checked):hover + .burgerMenu .burgerMenu__button--span:nth-child(1) {
    margin-left: -10px;
  }
  
  .menuTrigger:not(:checked):hover + .burgerMenu .burgerMenu__button--span:nth-child(2) {
    margin-left: 5px;
    transform: rotate(-3deg);
  }
  
  .menuTrigger:not(:checked):hover + .burgerMenu .burgerMenu__button--span:nth-child(3) {
    margin-left: -5px;
  }

  input:checked+.burgerMenu button span {
    position: absolute;
    transition: all 0.3s cubic-bezier(1, 0.82, 0.165, 1);
  }

  input:checked+.burgerMenu button span:nth-child(2) {
    opacity: 0;
  }

  input:checked+.burgerMenu button span:nth-child(1) {
    transform: rotate(45deg);
    margin-left: 0;
  }


  input:checked+.burgerMenu button span:nth-child(3) {
    transform: rotate(-45deg);
    margin-left: 0;
  }


  input:checked+.burgerMenu nav {
    visibility: visible;
    opacity: 1;
    position: fixed;
    z-index: 89;
    margin-left: 6.3vw;
  }
}

.pageContent {
  margin-left: 5vw;
  // grid-column: span 12;
  position: relative;
  // z-index: 1;

  // grid-template-rows: repeat(12, 1fr);
  .page1,
  .page2,
  .page3 {
    min-height: 100vh;
  }

  .page1,
  .page2 {
    border-right: 16px solid #FFF135;
    border-left: 16px solid #FFF135;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16px;
  }

  .page1 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16px;
    position: relative;
    // .page1__top,
    // .page1__bottom {
    //   // display: grid;
    //   // gap: 16px;
    // }

    // .page1__top, .page1__bottom {
    // min-height: 50vh;
    // display: inherit;
    // grid-template-columns: repeat(11, 1fr);
    // grid-column: 1 / span 11;s

    .page1__title {
      // display: inherit;
      grid-column: 1 / span 4;
      // max-width: 10%;
      .title__tahini {
        position: absolute;
        text-transform: uppercase;
        color: #00FF38;
        font-size: 9rem;
        top: 7rem;
        left: 8.5rem;
        // z-index: 0;
        // padding: 0px 16px;
        border: 16px;

        .title__drizzle {
          position: absolute;
          font-size: 3.46rem;
          // left: 192px;
          // top: -25px;
          top: -1.3rem;
          right: 0.3rem;
          color: #AB76FF;
        }

        .title__chickpeas {
          position: absolute;
          color: #FFF135;
          font-size: 3.4rem;
          // left: 25px;
          left: 1.35rem;
          // top: 110px;
          top: 7rem;
          z-index: -1;
        }
      }

    }


    .page1__text1 {
      grid-column: 5 / span 7;
      font-size: 3rem;
      color: #00FF38;
      background-color: #000000;
      // padding: 0 32px;
      // margin-top: 16px;
      // position: relative;
      p {
        padding: 0 64px;
        margin-left: 16px;
      }
    }

    .page1__bottom--salladImg {
      grid-column: 1 / span 5;
      position: relative;
      &:hover {
        .page1__arrow {
          bottom: 10px;
        }
      }
      .page1__salladImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .page1__arrow {
        position: absolute;
        bottom: 40px;
        left: 10px;
        transform: rotate(90deg);
        transition: bottom 0.3s ease-in-out;
      }
    }

    .page1__text2 {
      background-color: #fff;
      color: #AB76FF;
      border-left: 16px solid #FFF135;
      padding: 0 16px;
      grid-column: 6 / span 6;
      font-size: 3rem;

      .pageText__explore {

        text-align: left;
        text-transform: uppercase;
        margin: 0;
        a {
          color: #000000;
        }
        .explore__arrow {
          padding-left: 10px;
        }
      }
    }
  }
  // .title__tahini {
  //   position: absolute;
  //   text-transform: uppercase;
  //   color: #00FF38;
  //   font-size: 7rem;
  //   top: 7rem;
  //   left: 5.5rem;
  //   // z-index: 0;
  //   // padding: 0px 16px;
  //   border: 16px;

  //   .title__drizzle {
  //     position: absolute;
  //     font-size: 2.67rem;
  //     // left: 192px;
  //     // top: -25px;
  //     top: -1.2rem;
  //     right: 0.3rem;
  //     color: #AB76FF;
  //   }

  //   .title__chickpeas {
  //     position: absolute;
  //     color: #FFF135;
  //     font-size: 2.7rem;
  //     // left: 25px;
  //     left: 1rem;
  //     // top: 110px;
  //     top: 5.2rem;
  //     z-index: -1;
  //   }
  .page2 {
    background-color: #FFF135;
    padding-bottom: 32px;
    padding-top: 16px;
    .food_images {
      display: grid;
      grid-column: 1 / span 11;
      gap: 16px;
      
    .foodMenu_image1 {
      grid-column: 1 / span 3;
      width: 100%;
      object-fit: cover;
      height: 400px;
    }

    .foodMenu_image2 {
      grid-column: 4 / span 4;
      width: 100%;
      height: 400px;
      object-fit: cover;


    }

    .foodMenu_image3 {
      grid-column: 8 / span 4;
      // min-width: 500px;
      width: 100%;
      object-fit: cover;
      height: 400px;
    }

    }

    .foodMenu_bg1,
    .foodMenu_bg2,
    .foodMenu_bg3 {
      display: none;
    }

    .foodMenu_wrapper {
      // display: grid;
      // grid-template-columns: repeat(11, 1fr);
      grid-column: 1 / span 11;

      // gap: 8px;
      .foodMenu_section {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-column: 1 / span 11;
        color: #000000;
        background-color: white;
        border-bottom: 4px solid black;
        border-top: 4px solid black;
        position: relative;
        margin: 16px 0;
        padding: 0;
        // gap: 8px;

        li {
          margin: 16px 0;
          padding-left: 16px;
        }

        .foodMenu_section--item {
          text-transform: uppercase;
          grid-column: 1 / span 4;
        }

        .foodMenu_section--itemDescription {
          font-family: $secondaryFont;
          grid-column: 5 / span 6;
          font-size: 1.75rem;
          padding-top: 10px;
        }

        .foodMenu_section--itemPrice {
          grid-column: 11 / span 1;
          text-align: right;
          padding-right: 16px;
        }

        .itemLabel {
          font-size: 1rem;
          text-transform: uppercase;
          margin-block: 10px;
          display: inline-block;
          padding: 0 12px;
          font-family: 'Courier New', Courier, monospace;
          font-weight:600;
        }

        .new {
          left: 20rem;
          top: 1.3rem;
          position: absolute;
          background-color: #AC76FF;
          transform: rotate(3deg);

          span {
            display: block;
            transform: rotate(-3deg);
          }
        }

        .vegan {
          left: 23rem;
          top: 1.3rem;
          position: absolute;
          background-color: #00FF39;
          transform: rotate(-3deg);

          span {
            display: block;
            transform: rotate(3deg);
          }
        }

        .popular {
          left: 12rem;
          top: 1.3rem;
          position: absolute;
          background-color: #FEF035;
          transform: rotate(-1deg);

          span {
            display: block;
            transform: rotate(1deg);
          }

        }
      }
    }
  }



  .page3 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    background-color: #00FF38;
    color: #000000;
    border-left: 16px solid white;
    gap: 16px;
    align-items: center;
    // border-top: 16px solid white;
    // padding: 0 16px;

    // .page3__header {
    //   text-align: center;
    //   text-transform: uppercase;
    //   // margin: 0
    // }

    .page3__booking {
      // display: flex;
      // flex-direction: column;
      grid-column: 1 / span 5;
      // position: relative;
      // align-items: center;
      padding-left: 16px;
      .page3__header {
        font-size: 5rem;
        text-align: left;
        text-transform: uppercase;
      }
      .booking__form {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap:16px;
    label {
      // justify-content: flex-start;
      // font-size: 2rem;
      // float: left;
      // width: 15%;
      // margin: 10px 10px;
      text-transform: uppercase;
      // display: inline-block;
      // display: block;
      grid-column: 1 / span 3;
    }
      input[type=text],
      input[type=date],
      select {
        font-size: 1.5rem;
        grid-column: 4 / span 6;
        width: 83%;
        height: 80%;
        display: inline-block;
        border: none;
        border-radius: 15px;
        font-family: $secondaryFont;
      }


      input[type=submit],
      input[type=reset] {
        // font-size: 1.5rem;
        width: 100%;
        // padding: 0 16px;
        // padding: 3px 0;
        margin: 8px 1px;
        // margin-left: 50px;
        border: none;
        border-radius: 18px;
        cursor: pointer;
        text-transform: uppercase;
        // float: right;
        // display: flex;
        // flex-direction: column;
      }

      input[type=submit] {
        grid-column: 5 / span 4;
        background-color: #FFF135;
        // justify-content: flex-end;
      }

      input[type=reset] {
        grid-column: 1 / span 4;
        grid-row: 7 / span 1;
        background-color: #AB76FF;
        // justify-content: flex-start;
      }
    }
  }


    .page3__contactInfo {
      // top: 50%;
      position: relative;
      grid-column: 6 / span 6;
      .contactInfo__bg {
        filter: blur(3px);
        background-image: url("../assets/photos/wineTable-min.jpg");
        // max-width: 40vw;
        min-height: 60vh;
        width: 40vw;
        background-size: cover;
        background-position: center;
        margin-left: 50px;
        // top: 50%;
        // left: 50%;
      }

      .contactInfo__bg--text {
        position: absolute;
        top: 8%;
        left: 10%;
        li {
          // display: inline-block;
          margin-bottom: 15px;

          p {
            font-size: 3rem;
            // margin: 0;
          }

          a {
            padding: 1rem;
            margin-right: 4rem;
            font-size: 2rem;
            color: #27BCEB;
            text-shadow: -2px -2px #000;
            // width: 1vw;
          }
        }

        .material-symbols-outlined {
          font-size: 5rem;
          color: #27BCEB;
          text-shadow: -2px -2px #000;
        }
      }
    }
  }


}

.cookieBanner {
  display: flex;
  background-color: #AB76FF;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 11vh;
  z-index: 19;
  p {
    position: absolute;
    font-family: $secondaryFont;
    font-size: 1.5rem;
    top: 1rem;
    left: 10rem;

  }

  input {
    position: absolute;
    width: 17%;
    padding: 4px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    // font-size: 1.8rem;
    text-transform: uppercase;
  }

  input[type=submit] {
    background-color: #00FF38;
    bottom: 1rem;
    right: 1rem;
  }

  input[type=reset] {
    bottom: 1rem;
    right: 22rem;
    background-color: #FFF135;
  }
}