body {
    background-color: rgb(0, 0, 0);
    color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

header {
    display: flex;
    flex-direction: column;

    .navTitle {
        writing-mode: vertical-lr; 
        text-orientation: upright;
        text-transform: uppercase;
        font-size: 3.5rem;
    }
}

.page1 {
    grid-column: span 11;
    min-height: 100vh;

    .top,
    .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
    }

    .top {
        // min-height: 50vh;

        .pageTitle {
            grid-column: span 4;
            border: 2px solid green;
        }
    }

    .pageText {
        grid-column: span 7;
        font-size: 3rem;
        color: #00FF38;
    }

    .bottom {
        // min-height: 50vh;

        .salladImg {
            width: 100%;
            height: 100%;
            grid-column: span 5;
            object-fit: cover;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .pageText {
            grid-column: span 6;
            background-color: #fff;
            color: #AB76FF;
            padding-left: 32px;
        }
    }
}

