body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.8rem;
}


  header {
  background-color: #000000;
  display: flex;
    .headerTitle {
      font-size: 3rem;

      // justify-content: center;
      // letter-spacing: 0.5rem;
      text-transform: uppercase;
      // bottom: 20px;
      // left: 50px;
      // z-index: 4;
      margin: 0;
      // white-space: nowrap;
    }



    .menuTrigger {
      position: relative;
      z-index: 5;
      width: 70px;
      height: 50px;
      opacity: 0;
    }

    .burgerMenu {
      // grid-column: 1 / span 1;
      .burgerMenu__button {
        width: 35px;
        height: 35px;
        background: transparent;
        border: 0;
        position: absolute;
        left: 5px;
        top: 10px;
        z-index: 4;


        .burgerMenu__button--span {
          display: block;
          width: 45px;
          height: 7px;
          background-color: #FFF135;
          border-radius: 6px;
          margin-bottom: 4px;
        }

      }

      .navPage {
        position: fixed;
        left: 0;
        top: 0;
        background-color: #AB76FF;
        height: 100vh;
        width: 100vw;
        visibility: hidden;
        opacity: 0;
        transition: all 0.337s cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 1;

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-evenly;
          text-align: center;
          text-transform: uppercase;

          a {
            color: white;
          }
        }


      }
    }




    input:checked+.burgerMenu button span {
      position: absolute;
      transition: all 0.3s cubic-bezier(1, 0.82, 0.165, 1);
      // z-index: 5;
    }

    input:checked+.burgerMenu button span:nth-child(2) {
      opacity: 0;
    }

    input:checked+.burgerMenu button span:nth-child(1) {
      transform: rotate(45deg);
      position: fixed;
    }

    input:checked+.burgerMenu button span:nth-child(3) {
      transform: rotate(-45deg);
      position: fixed;
    }

    // .menuTrigger:checked {
    //   position: fixed;
    //   top: 10px; 
    //   left: 10px; 
    // }

    input:checked+.burgerMenu nav {
      visibility: visible;
      opacity: 1;
      position: fixed;

    }

  }

  .pageContent {
    // grid-column: span 5;
    position: relative;

    .page1 {
      // grid-column: span 5;
      border-top: 16px solid #FFF135;

      // .page1__top,
      // .page1__bottom {
      //   // grid-column: span 5;
      // }

      // .page1__top {
      // z-index: 3;

      .page1__title {
        position: relative;
        .title__tahini {

          text-transform: uppercase;
          color: #00FF38;
          font-size: 9rem;
          z-index: 0;
          padding: 1rem;
          margin: 0;

          .title__drizzle {
            position: absolute;
            font-size: 3.46rem;
            left: 11.9rem;
            top: -0.5rem;
            color: #AB76FF;
          }

          .title__chickpeas {
            position: absolute;
            color: #FFF135;
            font-size: 3.4rem;
            left: 2.3rem;
            bottom: 0.5rem;
            z-index: -1;
          }
        }

      }

      // }

      .page1__text1 {
        color: #00FF38;

        p {
          // margin: 0;
          padding: 0.5rem;
        }
      }
      .page1__bottom--salladImg {
        position: relative;
      .page1__salladImg {
        width: 100%;
        height: 100%;

      }
      .page1__arrow {
        position: absolute;
        bottom: 1rem;
        left: 0;
        transform: rotate(90deg);
      }
    }

      .page1__text2 {
        background-color: #fff;
        color: #AB76FF;
        border-top: 16px solid #FFF135;
        padding: 0 16px;

        .pageText__explore {
          color: #000000;
          margin: 0;
          text-align: center;
          text-transform: uppercase;
          a {
            color: #000;
          }
          .explore__arrow {
            transform: rotate(90deg);
          }
        }
      }

      // }


    }

    .page2 {
      display: flex;
      // grid-column: span 5;
      background-color: #FFF135;
      padding: 16px;

      .foodMenu_image1,.foodMenu_image2,.foodMenu_image3 {
        display: none;
      }
      .foodMenu_bg1, .foodMenu_bg2,.foodMenu_bg3 {
        height: 300px;
        background-size: cover;
        background-position: center;
      }
      .foodMenu_bg1 {
        background-image: url("../assets/photos/Veggiesallad-min.jpg");
      }
      .foodMenu_bg2 {
        background-image: url("../assets/photos/hummus-min.jpg");
      }
      .foodMenu_bg3 {
        background-image: url("../assets/photos/chiarlaban-min.jpg");
      }
      .foodMenu_section {
        color: #000000;
        background-color: white;
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        position: relative;

        .foodMenu_section--item {
          text-transform: uppercase;
        }

        .foodMenu_section--itemDescription {
          font-family: $secondaryFont;
          margin: 15px;
        }

        // .foodMenu_section--itemPrice {}

        .itemLabel {
          font-size: 1rem;
          // // position: absolute;
          // left:25rem;
          // bottom: 4rem;
          text-transform: uppercase;
          margin-block: 10px;
          display: inline-block;
          padding: 0 12px;
          font-family: 'Courier New', Courier, monospace;
          font-weight: 600;
        }

        .new {
          background-color: #AB76FF;
          transform: rotate(3deg);

          span {
            display: block;
            transform: rotate(-3deg);
          }
        }

        .vegan {
          background-color: #00FF39;
          transform: rotate(-3deg);

          span {
            display: block;
            transform: rotate(3deg);
          }
        }

        .popular {
          background-color: #FFF135;
          transform: rotate(-1deg);

          span {
            display: block;
            transform: rotate(1deg);
          }
        }
      }
    }

    .page3 {
      grid-column: span 5;
      background-color: #00FF38;
      color: #000000;
      border-top: 16px solid white;
      // padding: 0 16px;

      .page3__booking {
        .page3__header {
          font-size: 4rem;
          text-align: center;
          text-transform: uppercase;
        }
        label {
          text-transform: uppercase;
          width: 30%;
        }

        .booking__form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          gap:16px;
        input[type=text],
        input[type=date],
        select {
          width: 60%;
          padding: 5px;
          // margin-bottom: 1rem;
          display: inline-block;
          border: none;
          border-radius: 25px;
          box-sizing: border-box;
        }


        input[type=submit],
        input[type=reset] {
          width: 100%;
          // padding: 0 16px;
          padding: 10px;
          // margin: 8px 10px;
          // margin-bottom: 1rem;
          border: none;
          border-radius: 25px;
          cursor: pointer;
        }

        input[type=submit] {
          background-color: #FFF135;
        }

        input[type=reset] {
          background-color: #AB76FF;
          margin-bottom: 1rem;
        }
      }
      }

      .page3__contactInfo {
        position: relative;

        .contactInfo__bg {
          filter: blur(3px);
          background-image: url("../assets/photos/wineTable-min.jpg");
          // width: 100%;
          min-height: 50vh;
          background-size: cover;
          background-position: center;
          top: 0;
          left: 0;
        }

        .contactInfo__bg--text {
          position: absolute;
          top: 10%;
          left: -5%;

          li {
            display: block;
            margin-bottom: 15px;

            p {
              // font-size: 0.5rem;
              // margin: 0;
            }

            a {
              // padding: 1rem;
              font-size: 2rem;
              color: #27BCEB;
              text-shadow: -2px -2px #000;
            }
          }

          .material-symbols-outlined {
            font-size: 3rem;
            color: #27BCEB;
            text-shadow: -2px -2px #000;
          }
        }
      }
    }



  }

  .cookieBanner {
    grid-column: span 5;
    background-color: #AB76FF;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 120px;
    p {
      font-family: $secondaryFont;
      margin: 0;
      padding: 16px 0;
    }

    input {
      width: 40%;
      padding: 10px;
      margin-bottom: 1rem;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      // font-size: 1.8rem;
    }

    input[type=submit] {
      background-color: #00FF38;
    }

    input[type=reset] {
      background-color: #FFF135;
    }
  }

// }