body {
  background-color: rgb(237, 253, 8);
  color: white;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

header {
  grid-column: span 5;
  background-color: #000000;
  .burgerMenu {
  }
  .navTitle {
    // letter-spacing: 50px; //Mellanrum i headern  
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.page1 {
  grid-column: span 5;
  min-height: 100vh;

  .top,
  .bottom {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(4, 1fr);
  }

  .top {
      // min-height: 50vh;

      .pageTitle {
          grid-column: span 5;
          color: #00FF38;
          font-size: 16rem;
          text-align: center;
          background-color: #000000;
          margin: 0px;
          text-transform: uppercase;
        .drizzle {
          position: absolute;
          font-size: 6.1rem;
          left: 19.5rem;
          top: 4.5rem;
        }
        .chickpeas {
          position: absolute;
          font-size: 6.1rem;
          right: 11.5rem;
          bottom: 1.5rem;
        }
      }
  }

  .pageText {
      grid-column: span 5;
      font-size: 3rem;
      color: #00FF38;
      background-color: #000000;
  }

  .bottom {
      // min-height: 50vh;

      .salladImg {
          width: 100%;
          height: 100%;
          grid-column: span 5;
          object-fit: contain; //Salladbild cover
          img {
              width: 100%;
              height: 100%;
              // object-fit: contain;
          }
      }

      .pageText {
          grid-column: span 5;
          background-color: #fff;
          color: #AB76FF;
          padding-left: 32px;
      }
  }
}

