body {
  background-color: rgb(237, 253, 8);
  color: white;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

header {
  grid-column: span 5;
  background-color: #000000;
  .burgerMenu {
  }
  .navTitle {
    // letter-spacing: 50px; //Mellanrum i headern  
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.page1 {
  grid-column: span 5;
  // min-height: 100vh;

  .top,
  .bottom {
      display: grid;
      // gap: 16px;
      grid-template-columns: repeat(5, 1fr);

  }

  .top {
      // min-width: 50vh;
      // max-width: 100vh;

      .pageTitle {
          grid-column: span 5;
          background-color: #000000;

          // .Tahini {
          //   position: relative;
          //   text-transform: uppercase;
          //   color: #00FF38;
          //   font-size: 11rem;
          //   text-align: center;
          //   z-index: 1;
            
          // }
  
          // .drizzle {
          //   position: relative;
          //   font-size: 4.2rem;
          //   right: 205px;
          //   bottom: 130px;
          //   color: #AB76FF;
          //   text-transform: uppercase;
  
          // }
          // .chickpeas {
          //   position: relative;
          //   color: #FFF135;
          //   font-size: 4.2rem;
          //   right: 590px;
          //   top: 30px;
          //   text-transform: uppercase;
          //   z-index: -1;
          // }


        // .Tahini {
        //   position: absolute;
        //   text-transform: uppercase;
        //   position: relative;
        //   color: #00FF38;
        //   font-size: 11rem;
        //   text-align: center;
        //   z-index: 1;
        // }

        // .drizzle {
        //   position: relative;
        //   font-size: 4.2rem;
        //   right: 205px;
        //   bottom: 130px;
        //   color: #AB76FF;
        //   text-transform: uppercase;

        // }
        // .chickpeas {
        //   position: relative;
        //   color: #FFF135;
        //   font-size: 4.2rem;
        //   right: 590px;
        //   top: 30px;
        //   text-transform: uppercase;
        //   z-index: -1;
        // }
      }
  }

  .pageText {
      grid-column: span 5;
      font-size: 3rem;
      color: #00FF38;
      background-color: #000000;
  }

  .bottom {
      // min-height: 50vh;

      .salladImg {
          width: 100%;
          height: 100%;
          grid-column: span 5;
          // object-fit: contain; //Salladbild cover
          img {
              width: 100%;
              height: 100%;
              // object-fit: contain;
          }
      }

      .pageText {
          // grid-column: span 5;
          background-color: #fff;
          color: #AB76FF;
          margin: 16px 0px 16px 0px;
          // padding: 0px 16px 0px 16px;
          .pageText__explore {
            color: #000000;
            margin: 0px;
            text-transform: uppercase;
          }
      }
  }
}

