body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.8rem;
}


main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);


  header {
    grid-column: span 5;

    .headerTitle {
      font-size: 3rem;
      display: flex;
      justify-content: center;
      letter-spacing: 8.5px;
      text-transform: uppercase;
      bottom: 20px;
      left: 50px;
      z-index: 4;
      margin: 0;
      white-space: nowrap;
    }



    .menuTrigger {
      position: relative;
      z-index: 5;
      width: 70px;
      height: 50px;
      opacity: 0;
    }

    .burgerMenu {
      .burgerMenu__button {
        width: 35px;
        height: 35px;
        background: transparent;
        border: 0;
        position: absolute;
        left: 10px;
        top: 15px;
        z-index: 4;


        .burgerMenu__button--span {
          display: block;
          width: 45px;
          height: 7px;
          background-color: #FFF135;
          border-radius: 6px;
          margin-bottom: 4px;
        }

      }

      .navPage {
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(170, 8, 148, 1);
        height: 100vh;
        width: 100vw;
        visibility: hidden;
        opacity: 0;
        transition: all 0.337s cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 1;

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-evenly;
          text-align: center;
          text-transform: uppercase;

          a {
            color: white;
          }
        }


      }
    }




    input:checked+.burgerMenu button span {
      position: absolute;
      transition: all 0.3s ease-in-out;
      z-index: 5;
    }

    input:checked+.burgerMenu button span:nth-child(2) {
      opacity: 0;
    }

    input:checked+.burgerMenu button span:nth-child(1) {
      transform: rotate(45deg);
    }

    input:checked+.burgerMenu button span:nth-child(3) {
      transform: rotate(-45deg);
    }


    input:checked+.burgerMenu nav {
      visibility: visible;
      opacity: 1;
      position: fixed;

    }

  }

  .pageContent {
    grid-column: span 5;
    position: relative;

    .page1 {
      grid-column: span 5;
      border-top: 16px solid #FFF135;

      // .page1__top,
      // .page1__bottom {
      //   // grid-column: span 5;
      // }

      // .page1__top {
      // z-index: 3;

      .page1__title {
        .title__tahini {
          position: relative;
          text-transform: uppercase;
          color: #00FF38;
          font-size: 9rem;
          z-index: 0;
          padding: 0px 16px;
          // margin-bottom: 0px;

          .title__drizzle {
            position: absolute;
            font-size: 3.46rem;
            left: 192px;
            top: -25px;
            color: #AB76FF;
          }

          .title__chickpeas {
            position: absolute;
            color: #FFF135;
            font-size: 3.5rem;
            left: 25px;
            top: 110px;
            z-index: -1;
          }
        }

      }

      // }

      .page1__text1 {
        // font-size: 2.5rem;
        color: #00FF38;
        padding: 0 16px;
      }

      // .page1__bottom {
      // display: inherit;

      .page1__salladImg {
        width: 100%;
        height: 100%;
      }

      .page1__text2 {
        background-color: #fff;
        color: #AB76FF;
        border-top: 16px solid #FFF135;
        border-bottom: 16px solid #FFF135;

        .pageText__explore {
          color: #000000;
          margin: 0;
          text-align: right;
          text-transform: uppercase;
        }
      }

      // }


    }

    .page2 {
      display: flex;
      // grid-column: span 5;
      background-color: #FFF135;
      padding: 16px;

      .foodMenu_image1,.foodMenu_image2,.foodMenu_image3 {
        display: none;
      }
      .foodMenu_bg1, .foodMenu_bg2,.foodMenu_bg3 {
        height: 300px;
        background-size: cover;
        background-position: center;
      }
      .foodMenu_bg1 {
        background-image: url("/assets/photos/Veggiesallad-min.jpg");
      }
      .foodMenu_bg2 {
        background-image: url("/assets/photos/hummus-min.jpg");
      }
      .foodMenu_bg3 {
        background-image: url("/assets/photos/chiarlaban.jpg");
      }
      .foodMenu_section {
        color: #000000;
        background-color: white;
        text-align: center;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        position: relative;

        .foodMenu_section--item {
          text-transform: uppercase;
        }

        .foodMenu_section--itemDescription {
          font-family: $secondaryFont;
          margin: 15px;
        }

        .foodMenu_section--itemPrice {}

        .itemLabel {
          font-size: 1rem;
          position: absolute;
          right: 2rem;
          top: 1.5rem;
          text-transform: uppercase;
          margin-block: 10px;
          display: inline-block;
          padding: 0 12px;

        }

        .new {
          background-color: rgb(136, 30, 120);
          transform: rotate(3deg);

          span {
            transform: rotate(-3deg);
          }
        }

        .vegan {
          background-color: rgb(20, 150, 9);
          transform: rotate(-3deg);

          span {
            transform: rotate(3deg);
          }
        }

        .popular {
          background-color: rgb(235, 221, 34);
          transform: rotate(-1deg);

          span {
            transform: rotate(1deg);
          }
        }
      }
    }

    .page3 {
      grid-column: span 5;
      background-color: #00FF38;
      color: #000000;
      border-top: 16px solid white;
      padding: 0 16px;

      .page3__header {
        text-align: center;
        text-transform: uppercase;
      }

      .page3__booking {

        // label {
        //   display: inline-block;
        //   // width: auto;
        //   // padding: 8px 0;
        // }


        input[type=text],
        input[type=date],
        select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: none;
          border-radius: 25px;
          box-sizing: border-box;
        }


        input[type=submit],
        input[type=reset] {
          width: 80%;
          padding: 0 16px;
          padding: 14px 20px;
          margin: 8px 10px;
          margin-left: 50px;
          border: none;
          border-radius: 18px;
          cursor: pointer;
        }

        input[type=submit] {
          background-color: #FFF135;
        }

        input[type=reset] {
          background-color: #AB76FF;
        }

      }

      .page3__contactInfo {
        position: relative;

        .contactInfo__bg {
          filter: blur(3px);
          background-image: url("/assets/photos/wineTable-min.jpg");
          min-width: 30vw;
          min-height: 50vh;
          background-size: cover;
          background-position: center;
          top: 0;
          left: 0;
        }

        .contactInfo__bg--text {
          position: absolute;
          top: 15%;
          left: 1%;

          li {
            display: block;
            margin-bottom: 15px;

            p {
              font-size: 1rem;
              margin: 0;
            }

            a {
              padding: 1rem;
              font-size: 1.5rem;
              color: #27BCEB;
              text-shadow: -2px -2px #000;
            }
          }

          .material-symbols-outlined {
            font-size: 2.5rem;
            color: #27BCEB;
            text-shadow: -2px -2px #000;
          }
        }
      }
    }

    .cookieBanner {
      grid-column: span 5;
      background-color: #AB76FF;
      text-align: center;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      p {
        font-family: $secondaryFont;
        margin: 0;
        padding: 16px 0;
      }

      input {
        width: 80%;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 18px;
        cursor: pointer;
        // font-size: 1.8rem;
      }

      input[type=submit] {
        background-color: #00FF38;
      }

      input[type=reset] {
        background-color: #FFF135;
      }
    }

  }

}