body {
  font-size: 2.5rem;
}

header {

  .headerTitle {
    font-size: 5rem;
    letter-spacing: 1.3rem;
  }

  .menuTrigger {
    grid-column: 1 / span 1;
    width: 80px;
    height: 100px;
    margin-right: 1rem;
  }

  .burgerMenu {

    .burgerMenu__button {
      top: 15px;

      .burgerMenu__button--span {
        width: 4rem;
        height: 12px;
        margin-bottom: 12px;
      }

    }
  }
}

.pageContent {

  .page1,
  .page2,
  .page3 {
    min-height: 100vh;
  }

  .page1,
  .page2,
  .page3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }

  .page1 {
    border-top: 16px solid #FFF135;

    .page1__title {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;

      .title__tahini {
        position: relative;
        top: 3rem;
        left: 1rem;
        margin: 0;
        z-index: 1;
      }

    }


    .page1__text1 {
      grid-column: 1 / span 2;
      grid-row: 3 / span 3;
      padding: 16px;
    }

    .page1__bottom--salladImg {
      grid-column: 3 / span 3;
      grid-row: 1 / span 3;
      position: relative;

      .page1__salladImg {
        object-fit: contain;
        z-index: -1;
      }
    }

    .page1__text2 {
      grid-column: 3 / span 3;
      grid-row: 4 / span 2;


      .pageText__explore {
        padding-top: 4rem;
        text-align: left;

        .explore__arrow {
          padding-left: 10px;
        }
      }
    }
  }

  .page2 {

    .food_images {
      grid-column: 1 / span 2;
      grid-row: 1 / span 5;

      .foodMenu_image1,
      .foodMenu_image2,
      .foodMenu_image3 {
        width: 100%;
        height: 33.3%;
        object-fit: cover;
        display: block;
      }
    }

    .foodMenu_bg1,
    .foodMenu_bg2,
    .foodMenu_bg3 {
      display: none;
    }

    .foodMenu_wrapper {
      grid-column: 3 / span 3;
      grid-row: 1 / span 5;

      .foodMenu_section {
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        text-align: center;

        .foodMenu_section--itemDescription {
          font-size: 1.5rem;
          padding-top: 10px;
        }

        .foodMenu_section--itemPrice {
          font-size: 2rem;
        }

        .itemLabel {
          font-size: 1.3rem;
        }

        .new {
          right: 2rem;
          position: absolute;
        }

        .vegan {
          left: 1rem;
          bottom: 1rem;
          position: absolute;
        }

        .popular {
          right: 1rem;
          top: 1.3rem;
          position: absolute;

        }
      }
    }
  }



  .page3 {
    border-left: 16px solid white;
    border-right: 16px solid white;

    .page3__booking {
      grid-column: 1 / span 5;

      .booking__form {
        label {
          width: 21%;
        }

        input[type=text],
        input[type=date],
        select {
          font-size: 2rem;
          width: 25%;
        }


        input[type=submit],
        input[type=reset] {
          width: 40%;
          margin: 8px 1px;
        }

        input[type=submit] {
          order: 2;
        }

        input[type=reset] {
          order: 1;
        }
      }
    }


    .page3__contactInfo {
      grid-column: 1 / span 5;

      .contactInfo__bg {
        width: 80vw;
        margin-left: 5rem;
        top: 50%;
      }

      .contactInfo__bg--text {
        top: -10%;
        left: 10%;

        li {
          margin-bottom: 15px;

          p {
            font-size: 3rem;

          }

        }

        .material-symbols-outlined {
          font-size: 4rem;
        }
      }
    }
  }


}

.cookieBanner {
  p {
    font-size: 1.5rem;
    text-align: center;
  }

  input {
    cursor: pointer;
    font-size: 2rem;
  }

}