body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 2.5rem;
}

header {
  background-color: #000000;
  // display: grid;
  // grid-template-columns: 10% 45% 45%;
  display: flex;

  .headerTitle {
    // grid-column: 2 / span 2;
    // grid-row: 1;
    text-transform: uppercase;
    font-size: 5rem;
    margin: 0;
    letter-spacing: 1.3rem;
    // flex-grow: 1;
  }

  .menuTrigger {
    grid-column: 1 / span 1;
    position: relative;
    z-index: 5;
    width: 80px;
    height: 100px;
    opacity: 0;
    margin-right: 1rem;
  }

  .burgerMenu {

    .burgerMenu__button {
      width: 35px;
      height: 35px;
      background: transparent;
      border: 0;
      position: absolute;
      left: 5px;
      top: 15px;
      z-index: 4;


      .burgerMenu__button--span {
        display: block;
        width: 4rem;
        height: 12px;
        background-color: #FFF135;
        border-radius: 6px;
        margin-bottom: 12px;
      }

    }

    .navPage {
      position: fixed;
      left: 0;
      top: 0;
      background-color: #AB76FF;
      height: 100vh;
      width: 100vw;
      visibility: hidden;
      opacity: 0;
      transition: all 0.337s cubic-bezier(0.075, 0.82, 0.165, 1);
      z-index: 1;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        text-align: center;
        text-transform: uppercase;

        a {
          color: white;
        }
      }


    }
  }




  input:checked+.burgerMenu button span {
    position: fixed;
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }

  input:checked+.burgerMenu button span:nth-child(2) {
    opacity: 0;
  }

  input:checked+.burgerMenu button span:nth-child(1) {
    transform: rotate(45deg);
  }

  input:checked+.burgerMenu button span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menuTrigger:checked {
    position: fixed;
    top: 10px; 
    left: 10px; 
  }

  input:checked+.burgerMenu nav {
    visibility: visible;
    opacity: 1;
    position: fixed;

  }
}

.pageContent {
  // margin-left: 6.3vw;
  // grid-column: span 12;
  position: relative;

  // grid-template-rows: repeat(12, 1fr);
  .page1,
  .page2,
  .page3 {
    min-height: 100vh;
  }

  .page1,
  .page2,
  .page3 {
    // border-right: 16px solid #FFF135;
    // border-left: 16px solid #FFF135;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
  }

  .page1 {
    border-top: 16px solid #FFF135;

    .page1__title {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      .title__tahini {
        position: relative;
        text-transform: uppercase;
        color: #00FF38;
        font-size: 8rem;
        z-index: 0;
        top: 3rem;
        left: 1rem;
        margin: 0;

        .title__drizzle {
          position: absolute;
          font-size: 3.05rem;
          // left: 192px;
          // top: -25px;
          top: -1.3rem;
          left: 9.7rem;
          color: #AB76FF;
        }

        .title__chickpeas {
          position: absolute;
          color: #FFF135;
          font-size: 3.4rem;
          // left: 25px;
          left: 1rem;
          // top: 110px;
          top: 6rem;
          z-index: -1;
        }
      }

    }


    .page1__text1 {
      grid-column: 1 / span 2;
      grid-row: 3 / span 3;
      // font-size: 3rem;
      color: #00FF38;
      background-color: #000000;
      padding: 16px;
    }

    .page1__bottom--salladImg {
      grid-column: 3 / span 3;
      grid-row: 1 / span 3;
      // width: 100%;
      // height: 100%;
      // background-image: url(../assets/photos/sallad-min.jpg);
      // background-size: cover;
      // object-fit:contain;
      // background-position: center;
      // padding-left: 1rem;
      position: relative;
      .page1__salladImg {
        width: 100%;
        height: 100%;
        // display: none;
        object-fit: cover;
        // background-position: center;
        // z-index: 1;
        // position: relative;
      }
      .page1__arrow {
        // display: none;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        transform: rotate(90deg);
        // z-index: 1;
      }
    }

    .page1__text2 {
      background-color: #fff;
      color: #AB76FF;
      border-top: 16px solid #FFF135;
      grid-column: 3 / span 3;
      grid-row: 4 / span 2;
      padding: 16px;
      
      p {
        // margin: 0;
      }

      .pageText__explore {
        color: #000000;
        padding-top: 4rem;
        text-align: right;
        text-transform: uppercase;
        margin: 0;
        a {
          color: #000;
        }
        .explore__arrow {
          padding-left: 10px;
        }
      }
    }
  }

  .page2 {
    background-color: #FFF135;
    padding: 16px;
    // padding-top: 16px;
    // .food_images {
    // display: grid;
    // grid-template-columns: repeat(11, 1fr);
    gap: 16px;

    .food_images {
      grid-column: 1 / span 2;
      grid-row: 1 / span 5;

    .foodMenu_image1,
    .foodMenu_image2,
    .foodMenu_image3 {
      width: 100%;
      object-fit:cover;
    }
  }
    // }

    .foodMenu_bg1,
    .foodMenu_bg2,
    .foodMenu_bg3 {
      display: none;
    }

    .foodMenu_wrapper {
      // display: grid;
      // grid-template-columns: repeat(11, 1fr);
      grid-column: 3 / span 3;
      grid-row: 1 / span 5;
      // gap: 8px;
      .foodMenu_section {
        // display: grid;
        // grid-template-columns: repeat(11, 1fr);
        // grid-column: 1 / span 11;
        color: #000000;
        background-color: white;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        // position: relative;
        // margin: 3rem 0;
        // padding: 0;
        // gap: 8px;
        position: relative;
        text-align: center;
        // li {
        //   height: fit-content;
        // }

        .foodMenu_section--item {
          text-transform: uppercase;

          // font-size: 2rem;
          // grid-column: 1 / span 4;
        }

        .foodMenu_section--itemDescription {
          font-family: $secondaryFont;
          // grid-column: 5 / span 6;
          font-size: 1.5rem;
          padding-top: 10px;
        }

        .foodMenu_section--itemPrice {
          // grid-column: 11 / span 1;
          // text-align: center;
          font-size: 2rem;
        }

        .itemLabel {
          font-size: 1.3rem;
          text-transform: uppercase;
          margin-block: 10px;
          display: inline-block;
          padding: 0 10px;
          font-family: $itemLabel;
          font-weight: 600;
        }

        .new {
          // left: 17rem;
          // bottom: 1.3rem;
          right: 2rem;
          position: absolute;
          background-color: #AC76FF;
          transform: rotate(3deg);

          span {
            transform: rotate(-3deg);
          }
        }

        .vegan {
          left: 1rem;
          bottom: 1rem;
          // top: 1.3rem;
          position: absolute;
          background-color: #00FF39;
          transform: rotate(-3deg);

          span {
            transform: rotate(3deg);
          }
        }

        .popular {
          right: 1rem;
          top: 1.3rem;
          position: absolute;
          background-color: rgb(235, 221, 34);
          transform: rotate(-1deg);

          span {
            transform: rotate(1deg);
          }

        }
      }
    }
  }



  .page3 {
    background-color: #00FF38;
    color: #000000;
    border-left: 16px solid white;
    // gap: 16px;
    align-items: center;
    // border-top: 16px solid white;
    // padding: 0 16px;

    // .page3__header {
    //   text-align: center;
    //   text-transform: uppercase;
    //   // margin: 0
    // }

    .page3__booking {
      // display: flex;
      // flex-direction: column;
      grid-column: 1 / span 5;
      // position: relative;
      // align-items: center;
      padding-left: 16px;
      .page3__header {
        font-size: 4rem;
        text-align: center;
        text-transform: uppercase;
        // width: 40vw;
        margin: 2rem;
      }
      .booking__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap:16px;
    label {
      width: 20%;
      // margin: 10px 10px;
      text-transform: uppercase;
      
      // display: inline-block;
      // display: block;
      // grid-column: 1 / span 3;
    }
      input[type=text],
      input[type=date],
      select {
        font-size: 2rem;
        // grid-column: 4 / span 6;
        width: 25%;
        // height: 70%;
        // padding: 0px 10px;
        // margin: 15px 0;
        // display: inline-block;
        border: none;
        border-radius: 15px;
        // box-sizing:border-box;
        // float: center;
      }


      input[type=submit],
      input[type=reset] {
        // font-size: 1.5rem;
        width: 40%;
        // padding: 0 16px;
        // padding: 3px 0;
        margin: 8px 1px;
        // margin-left: 50px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        text-transform: uppercase;
        // float: right;
        // display: flex;
        // flex-direction: column;
      }

      input[type=submit] {
        order: 2;
        background-color: #FFF135;
      }

      input[type=reset] {
        order: 1;
        background-color: #AB76FF;
      }
    }
  }


    .page3__contactInfo {
      // top: 50%;
      position: relative;
      grid-column: 1 / span 5;
      .contactInfo__bg {
        filter: blur(3px);
        background-image: url("../assets/photos/wineTable-min.jpg");
        // max-width: 40vw;
        min-height: 50vh;
        width: 80vw;
        background-size: cover;
        background-position: center;
        margin-left:5rem;
        top: 50%;
        // left: 50%;
      }

      .contactInfo__bg--text {
        position: absolute;
        top: -4rem;
        left: 10%;

        li {
          // display: inline-block;
          margin-bottom: 15px;

          p {
            font-size: 3rem;
            
          }

          a {
            padding: 1rem;
            // font-size: 4rem;
            color: #27BCEB;
            text-shadow: -2px -2px #000;
            margin-right: 1.5rem;
            // width: 1vw;
          }
        }

        .material-symbols-outlined {
          font-size: 4rem;
          color: #27BCEB;
          text-shadow: -2px -2px #000;
        }
      }
    }
  }


}

.cookieBanner {
  // display: flex;
  // justify-content: flex-start;
  background-color: #AB76FF;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 120px;
  p {
    // position: absolute;
    font-family: $secondaryFont;
    // font-size: 1.5rem;
    text-align: center;
    margin: 0;

  }

  input {
    position: absolute;
    width: 40%;
    // padding: 4px 10px;
    // margin: 10px 0;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    // font-size: 1rem;
    text-transform: uppercase;
  }

  input[type=submit] {
    background-color: #00FF38;
    bottom: 1rem;
    right: 5rem;
  }

  input[type=reset] {
    bottom: 1rem;
    left: 5rem;
    background-color: #FFF135;
  }
}


