body {
    background-color: rgb(237, 253, 8);
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
  }
  
  input {
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 5;
    width: 35px;
    height: 35px;
    opacity: 0;
  }
  
  .burgerMenu__button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    position: relative;
    z-index: 3;
  }
  
  .burgerMenu__button--span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #FFF135;
    border-radius: 6px;
    margin-bottom: 4px;
  }
  
  .navPage {
    position: fixed;
    top: 80px;
    left: 0;
    background-color: rgba(170, 8, 148, 1);
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    transition: all 0.337s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
  }
  
  input:checked + .burgerMenu button span {
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  
  input:checked + .burgerMenu button span:nth-child(2) {
    opacity: 0;
  }
  
  input:checked + .burgerMenu button span:nth-child(1) {
    transform: rotate(45deg);
  }
  
  input:checked + .burgerMenu button span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  input:checked + .burgerMenu nav {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 80px;
  }
  
  .headerTitle {
    letter-spacing: 15px;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    margin-right: auto;
  }
  
  .page1 {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }
  
  .pageTitle {
    background-color: #000000;
  }
  
  .Tahini {
    position: relative;
    text-transform: uppercase;
    color: #00FF38;
    font-size: 9rem;
    z-index: 0;
    padding: 0px 16px 0px 16px;
    margin-bottom: 0px;
  }
  
  .drizzle {
    position: absolute;
    font-size: 3.46rem;
    left: 192px;
    top: -25px;
    color: #AB76FF;
  }
  
  .chickpeas {
    position: absolute;
    color: #FFF135;
    font-size: 3.5rem;
    left: 25px;
    top: 110px;
    z-index: -1;
  }
  
  .pageText {
    font-size: 2.5rem;
    color: #00FF38;
    background-color: #000000;
    padding: 0 16px 0 16px;
  }
  
  .bottom .salladImg {
    width: 100%;
    height: 100%;
  
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .bottom .pageText {
    font-size: 2.5rem;
    background-color: #fff;
    color: #AB76FF;
    margin: 16px 0 16px 0;
    padding: 0 16px 0 16px;
  
    .pageText__explore {
      color: #000000;
      margin: 0;
      text-align: right;
      text-transform: uppercase;
    }
  }
  
  @media (max-width: 480px) {
    header {
      padding: 10px;
    }
  
    .burgerMenu__button {
      width: 30px;
      height: 30px;
    }
  
    .burgerMenu__button--span {
      width: 15px;
    }
}